referee/
.DS_Store
agent/__pycache__/__init__.cpython-310.pyc
.gitignore
agent/__pycache__/program.cpython-310.pyc
.vscode/settings.json
agent/__pycache__/utils.cpython-310.pyc
agent/__pycache__
minimax/__pycache__/
minimax/__pycache__/program.cpython-310.pyc
